#p1{
	font-family: "Bricolage Grotesque";
      font-weight:bold;
	
	
	}
#p2{
font-family:'Lumanosimo', cursive;
	font-style:oblique;
	font-size: 10px;
	font-variant:small-caps;
}
#p3{
	
font-family:'Dancing Script', cursive;
	font-weight:600;
}

.fa-brands fa-facebook{
	color:rgb(245, 8, 8);
	font-size:40px;
}
